
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* button */


.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

    /* header */


header{
    background: url("./images/developer.png"), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #F5F5F5;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.logo h2 span{
    color: #FD6E0A;
}


nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;

}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    padding-left: 60px;

}

nav .menu a{
text-decoration: none;
}


/* banner */

#banner{
    /* border: 1px solid black; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-text{

    width: 585px;
}


#banner .banner-text h2{
font-size: 45px;
width: 180;
height: 64;
color: #474747;
font-weight: 600;
}

#banner .banner-text h1{
    font-size: 80px;
    width: 540px;
    height: 96px;
    color: #212121;
    font-weight: bold;
    margin: 20px 0;
}



#banner .banner-image img{
    max-width: 583px;
    max-height: 677;
    vertical-align: middle;
}

#banner .banner-text p{
    font-size: 18px;
    line-height: 30px;
    color:black;
    margin-bottom: 30px;
}













